<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TK158.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TK158.Properties.Settings>
      <setting name="TA1004M1Address1" serializeAs="String">
        <value>0101</value>
      </setting>
      <setting name="TA1004M1Address2" serializeAs="String">
        <value>0111</value>
      </setting>
      <setting name="Frequency" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="BitsCount" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="IsInfiniteFT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WordLength" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="TA2008Channels" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="TA2008Address" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TA2008Delay" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TA2007Address" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultMenuIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TA1004M1Delay" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TA2007Delay" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TA2006Address" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TA2006Delay" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TA2007TimerValue" serializeAs="String">
        <value>30</value>
      </setting>
    </TK158.Properties.Settings>
  </userSettings>
</configuration>
